.list{
  text-align: left;
  margin: 20px;
  border: 2px solid yellow;
}
.personalDetails{ 
  list-style-type: none;
  text-align: left;
}
.bold{
  font-weight: bold;
}
.italic{
  font-style: italic;
}
.companyDetails{
  text-align: left;
  padding-left: 3em;
}
.locPin {
  width: 1em;
  height: 1em ;
  background-color: blue ;
  border-radius: 60px 60px 0px 60px ;
  position:relative ;
  display: inline-block;
  transform: rotate(45deg);
}
.locPin::after {
  content: "" ;
  width: 0.5em ;
  height: 0.5em ;
  background:yellow ;
  position: absolute ;
  left: 26% ;
  top: 26% ;
  border-radius: 60px ;
}
.link{
  text-decoration: underline;
}
.contactList{
  width:40%;
  text-align: left;
  margin:auto;
  border-radius: 10px;
  border : 1px gray solid;
  background-color:rgba(135,206,250,0.5);
}
